# Run all system xinitrc shell scripts.
xinitdir="/etc/X11/xinit/xinitrc.d"
if [ -d "$xinitdir" ]; then
    for script in $xinitdir/*; do
        echo "Loading xinit script $script"
        if [ -x "$script" -a ! -d "$script" ]; then
            . "$script"
        fi
    done
fi

[[ -f ~/.Xresources ]] && xrdb -merge -I$HOME ~/.Xresources
picom &
xbindkeys
xmousepasteblock &
syndaemon -t -i 1 -d
nitrogen --restore &
flameshot &
/usr/lib/xfce4/notifyd/xfce4-notifyd &
udiskie --tray &
xscreensaver --no-splash &
exec i3
